<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
</head>
<body ng-app="admin" ng-strict-di="ng-strict-di">

    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th colspan="3" style="border-left: 1px solid #ddd;">GDAX</th>
                <!--<th colspan="4" style="border-left: 1px solid #ddd;">SpaceBTC</th>-->
                <th colspan="3" style="border-left: 1px solid #ddd;">Quoine</th>
                <th colspan="2" style="border-left: 1px solid #ddd;">Kraken</th>
            </tr>
            <tr>
                <th>Date</th>
                <th style="border-left: 1px solid #ddd;">GBP</th>
                <th>EUR</th>
                <th>BTC</th>
                <!--<th style="border-left: 1px solid #ddd;">EUR</th>-->
                <!--<th>BTC</th>-->
                <!--<th>ETH</th>-->
                <!--<th>LTC</th>-->
                <th style="border-left: 1px solid #ddd;">USD</th>
                <th>JPY</th>
                <th>BTC</th>
                <th style="border-left: 1px solid #ddd;">GBP</th>
                <th>BTC</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="history : ${balanceHistory}">
                <td th:text="${#dates.format(history.getPrevDate(), 'dd/MM/YYYY')}"></td>
                <th:block th:if="${history.balances.get('gdax') != null}">
                    <td style="border-left: 1px solid #ddd;">
                        <div th:if="${history.balances.get('gdax').get('GBP') != null}" th:text="${history.balances.get('gdax').get('GBP').setScale(2, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></div>
                    </td>
                    <td>
                        <div th:if="${history.balances.get('gdax').get('EUR') != null}" th:text="${history.balances.get('gdax').get('EUR').setScale(2, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></div>
                    </td>
                    <td>
                        <div th:if="${history.balances.get('gdax').get('BTC') != null}" th:text="${history.balances.get('gdax').get('BTC').setScale(5, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></div>
                    </td>
                </th:block>
                <th:block th:if="${history.balances.get('gdax') == null}">
                    <td colspan="3" style="border-left: 1px solid #ddd;"></td>
                </th:block>
                <!--<th:block th:if="${history.balances.get('spacebtc') != null}">-->
                    <!--<td style="border-left: 1px solid #ddd;">-->
                        <!--<div th:if="${history.balances.get('spacebtc').get('EUR') != null}" th:text="${history.balances.get('spacebtc').get('EUR').setScale(2, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></div>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div th:if="${history.balances.get('spacebtc').get('BTC') != null}" th:text="${history.balances.get('spacebtc').get('BTC').setScale(5, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></div>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div th:if="${history.balances.get('spacebtc').get('ETH') != null}" th:text="${history.balances.get('spacebtc').get('ETH').setScale(3, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></div>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div th:if="${history.balances.get('spacebtc').get('LTC') != null}" th:text="${history.balances.get('spacebtc').get('LTC').setScale(3, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></div>-->
                    <!--</td>-->
                <!--</th:block>-->
                <!--<th:block th:if="${history.balances.get('spacebtc') == null}">-->
                    <!--<td colspan="4" style="border-left: 1px solid #ddd;"></td>-->
                <!--</th:block>-->
                <th:block th:if="${history.balances.get('quoine') != null}">
                    <td style="border-left: 1px solid #ddd;">
                        <div th:if="${history.balances.get('quoine').get('USD') != null}" th:text="${history.balances.get('quoine').get('USD').setScale(2, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></div>
                    </td>
                    <td>
                        <div th:if="${history.balances.get('quoine').get('JPY') != null}" th:text="${history.balances.get('quoine').get('JPY').setScale(0, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></div>
                    </td>
                    <td>
                        <div th:if="${history.balances.get('quoine').get('BTC') != null}" th:text="${history.balances.get('quoine').get('BTC').setScale(5, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></div>
                    </td>
                </th:block>
                <th:block th:if="${history.balances.get('quoine') == null}">
                    <td colspan="3" style="border-left: 1px solid #ddd;"></td>
                </th:block>
                <th:block th:if="${history.balances.get('kraken') != null}">
                    <td style="border-left: 1px solid #ddd;">
                        <div th:if="${history.balances.get('kraken').get('GBP') != null}" th:text="${history.balances.get('kraken').get('GBP').setScale(2, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></div>
                    </td>
                    <td>
                        <div th:if="${history.balances.get('kraken').get('BTC') != null}" th:text="${history.balances.get('kraken').get('BTC').setScale(5, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></div>
                    </td>
                </th:block>
                <th:block th:if="${history.balances.get('kraken') == null}">
                    <td colspan="3" style="border-left: 1px solid #ddd;"></td>
                </th:block>
            </tr>
            <tr class="active">
                <td th:text="${#dates.format(now, 'dd/MM/YYYY')}"></td>
                <td th:text="${balanceNowGdax.balances.get('GBP').getTotal().setScale(2, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}" style="border-left: 1px solid #ddd;"></td>
                <td th:text="${balanceNowGdax.balances.get('EUR').getTotal().setScale(2, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></td>
                <td th:text="${balanceNowGdax.balances.get('BTC').getTotal().setScale(5, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></td>
                <!--<td th:text="${balanceNowSpaceBtc.balances.get('EUR').getTotal().setScale(2, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}" style="border-left: 1px solid #ddd;"></td>-->
                <!--<td th:text="${balanceNowSpaceBtc.balances.get('BTC').getTotal().setScale(5, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></td>-->
                <!--<td th:text="${balanceNowSpaceBtc.balances.get('ETH').getTotal().setScale(3, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></td>-->
                <!--<td th:text="${balanceNowSpaceBtc.balances.get('LTC').getTotal().setScale(2, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></td>-->
                <td th:if="${balanceNowQuoine.balances.get('USD') != null}" th:text="${balanceNowQuoine.balances.get('USD').getTotal().setScale(2, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}" style="border-left: 1px solid #ddd;"></td>
                <td th:if="${balanceNowQuoine.balances.get('JPY') != null}" th:text="${balanceNowQuoine.balances.get('JPY').getTotal().setScale(0, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></td>
                <td th:if="${balanceNowQuoine.balances.get('BTC') != null}" th:text="${balanceNowQuoine.balances.get('BTC').getTotal().setScale(5, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></td>
                <td th:if="${balanceNowKraken.balances.get('GBP') != null}" th:text="${balanceNowKraken.balances.get('GBP').getTotal().setScale(2, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></td>
                <td th:if="${balanceNowKraken.balances.get('BTC') != null}" th:text="${balanceNowKraken.balances.get('BTC').getTotal().setScale(5, T(java.math.BigDecimal).ROUND_DOWN).toPlainString()}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>